/*
    Theme Name: Erotic Theme
    Theme URI: http://erotictouch.shop/
    Author Name: Pranay
    Author URI: http://facebook.com/pranay2g
*/
h1,h2,h3,h4,h5,h6{
    line-height: 1;
    margin: 0 !important;
    padding: 0 !important;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    transition: 0.3s;
    margin: 0 !important;
    padding: 0 !important;
}
a:hover{
    text-decoration: none;
}
p{
    margin: 0 !important;
    padding: 0 !important;
}

img{
    width: 100%;
    height: auto
}

header .nav-link {
    margin: 5px 16px !important;
    padding: 5px  13px 2px 13px !important;
    border-radius: 10px;
    font-family: BebasNeue;
    font-size: 30px;
    letter-spacing: 3px;
    color: #ddd !important;
}

header .nav-link:hover, header .nav-link.active {
    background: #9c0505;
}
.b-radius-0{
    border-radius: 0 !important
}
.full-w-btn{
   font-size: 30px;
   font-weight: bold;
   color: #fece08;
   text-transform: uppercase;
   vertical-align: middle;
   padding: 10px !important;
   line-height: 76px;
}
.full-w-btn span{
    font-size: 50px;
    color: #ffffff;
    line-height: 70px;
    text-decoration: none;
    vertical-align: top;
}
.body-text {
    font-size: 20px;
    color: #000000;
    line-height: 1.5;
}
.bg-area {
    padding: 0 70px 160px 70px;
    background: #eee;
    background-image: url(assets/images/textured_back.jpg);
    background-size: cover;
    background-position: bottom;
}
.video-area-bg {
    height: 600px;
    background-image: url(assets/images/home_video.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.video-area-bg a {
    position: absolute;
    top: 34%;
    left: 48%;
    font-size: 77px;
}
.biggest-text strong {
    font-size: 135px;
}
.section-devider {
    width: 100%;
    height: 25px;
    background: #000;
}
.theme-font{
    font-family: BebasNeue;    
}
.biggest-text{    
    text-align: center;    
    font-size: 100px;    
    margin-top: 30px !important;    
    line-height: 0.8;
}
ul.service-list img {
    width: 40px;
    margin-right: 8px;
    margin-bottom: 13px;
    float: left;
}

ul.service-list {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

ul.service-list li {float: left;margin: 3px 0;}

ul.service-list li span {
    display: inline-block;
    float: left;
    width: calc(100% - 48px);
    padding-top: 10px;
    color: #000;
}
.red-big-btn {
    width: 400px;
    margin-left: 36px;
    float: left;
}

img.mc-secure {
    width: 100px;
    margin: 28px 40px;
}
.absulate-big-text {
    position: absolute;
    font-size: 114px;
    font-family: BebasNeue;
    text-align: center;
    display: block;
    width: 100%;
    color: #fff;
    padding-top: 17px;
}
.relative{
    position: relative;
}
h1.extra-big-text {
    font-family: BebasNeue;
    font-size: 110px;
    text-align: center;
}

h1.extra-big-text span {
    display: block;
    font-size: 157px;
    letter-spacing: 10px;
    font-weight: bold;
}

.content {
    margin-top: -100px;
}
h1.red-big-text {
    font-size: 140px;
    line-height: 130px;
    color: #bf0000;
    margin: 0;
    padding: 0;
    font-family: BebasNeue;
}
.li-border li {
    padding: 7px 0;
    position: relative;
}

.li-border li:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 300px;
    background: #d0d0d0;
    left: 68px;
    bottom: 0;
    border-radius: 50%;
}
h1.lower-big-font {
    font-family: BebasNeue;
    font-weight: bold;
    font-size: 78px;
    text-align: center;
    line-height: 78px; 
    z-index: 1;
    position: relative;
}
.award img {
    margin-top: -70px;
    z-index: -17;
}
img.coin {
    margin-top: -50px;
}
.price-area {
    border: 15px solid #000;
    display: flex;
    margin: 30px 0;
}

.single-price {
    width: 33%;
    padding: 32px;
    display: inline-table;
    text-align: center;
}

.pricing-content h1 {
    font-weight: bold;
    font-size: 85px;
    font-family: BebasNeue;
    padding: 14px 0 0 0 !important;
}

.pricing-content h1 span.offer {
    color: #c7c7c7;
    display: block;
    font-size: 45px;
    font-weight: normal;
    padding-top: 13px;
}

.pricing-content h1 span.list-price {
    display: block;
    font-weight: normal;
    font-size: 38px;
}
footer a.nav-link {
    font-size: 20px;
    padding: 0 12px !important;
    display: inline-block;
    font-family: BebasNeue;
}
footer {
    background: #b2b2b2;
    padding: 50px 0;
}
p.footer-small-desc {
    font-size: 14px;
    padding: 30px 0 !important;
}
p.copy-link {
    font-size: 15px;
    padding: 3px 0 !important;
}
.navbar-light .navbar-toggler {
    background: #fff;
    margin: 12px 0;
}