/* Medium Layout: 1200px. */
@media only screen and (max-width: 1199px) { 
header .nav-link {
    padding: 0 3px !important;
    letter-spacing: 2px;
}
.pricing-content h1 {
    font-size: 66px;
}

.pricing-content h1 span.offer {
    font-size: 39px;
}

.pricing-content h1 span.list-price {
    font-size: 30px;
}










}
/* Tablet Layout: 992px. */
@media only screen and (max-width: 991px) { 
header .nav-link {
    margin: 0 6px !important;
    font-size: 26px;
}

.absulate-big-text {
    font-size: 56px;
}

h1.extra-big-text {
    font-size: 70px;
}

h1.extra-big-text span {
    font-size: 100px;
}

h1.red-big-text {
    font-size: 84px;
}

.li-border li:after {
    width: 100px;
}

h1.lower-big-font {
    font-size: 45px;
}

.award img {
    margin-top: -50px;
}

.single-price {
    width: 100% !important;
}

.price-area {
    display: block;
}









} 
/* Mobile Layout: 768px. */
@media only screen and (max-width: 767px) { 
.biggest-text {
    font-size: 68px;
}

.biggest-text strong {
    font-size: 78px;
}

h1.extra-big-text {
    font-size: 38px;
}

h1.extra-big-text span {
    font-size: 61px;
}

.award img {
    margin: 0;
}
.bg-area {
    padding: 0;
}
.full-w-btn span {
    display: block;
}







}
/* Wide Mobile Layout: 576px. */
@media only screen and (max-width: 575px) { 









}
/* Wide Mobile Layout: 320px. */
@media only screen and (max-width: 435px) { 
.full-w-btn {
    font-size: 20px;
    line-height: 1;
}

.full-w-btn span {
    font-size: 25px;
    padding: 0;
}

.red-big-btn {
    margin: 0;
    padding: 0;
    width: 100%;
}










}
/* Wide Mobile Layout: 320px. */
@media only screen and (max-width: 319px) { 







}